/************************** Author : Muazzam Manzoor ******************************/
@import url("font-awesome.css");
@import url("font-awesome.min.css");

*{margin:0;padding:0;}
*:before,*:after,*::before,*::after{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-khtml-box-sizing:border-box;
}
html,body,article,section,div,span,label,input,img{display:block;}

body{
	background:rgba(0,0,0,0.7);
	width:98%;
}
#form:after,#form::after{
	content:" ";
	display:block;
	clear:both;
}
#wrapper{
	width:95%;
	margin:0 auto;
	border:5px solid #fff;
	min-height:100px;
	background:radial-gradient(center,#ffff00,#03A2CA,#036FCA,#0324CA,#E503DD);
	background:-webkit-radial-gradient(center,#ffff00,#03A2CA,#036FCA,#0324CA,#E503DD);
	background:-moz-radial-gradient(center,#ffff00,#03A2CA,#036FCA,#0324CA,#E503DD);
	background:-ms-radial-gradient(center,#ffff00,#03A2CA,#036FCA,#0324CA,#E503DD);
	background:-o-radial-gradient(center,#ffff00,#03A2CA,#036FCA,#0324CA,#E503DD);
	background:-khtml-radial-gradient(center,#ffff00,#03A2CA,#036FCA,#0324CA,#E503DD);
}
#form{
	width:100%;
	min-height:100px;
}
#form>form{width:100%;margin:0 auto;}
#form>h1{
	font-size:5em;
	text-align:center;
	color:#fff;
	font-family:Elephant,arial,times;
	text-shadow:2px 0px 3px #eee,-2px 0px 3px #000;
}
#label{
	width:15%;
	height:50px;
	float:left;
}
#box{
	width:70%;
	height:50px;
	float:left;
}
#label>label,#box>input{
	margin-top:10px;
	margin-left:10px;
	color:#0267B4;
	font-size:1.5em;
}
#box>input,#box>select{
	width:90%;
	border:2px solid #000;
	height:30px;
	font-size:1.3em;
	text-indent:25px;
	color:#0383E5;
	font-family:'Times New Roman',times,arial;
}
#box>input[type="text"]{
	text-transform:uppercase;
}
#box>select{margin-top:10px;text-align:center;}
#help{width:10%;float:left;height:50px;cursor:pointer;}
#help>i{margin-left:50px;margin-top:20px;text-decoration:underline;text-align:center;position:relative;cursor:pointer;}
#help>p{display:none;position:absolute;left:80%;background:#fff;font-size:1.4em;border:1px groove #000;padding:5px;}
#help:hover>p{display:block;text-align:center;}
span.required{color:#ff0000;display:inline-block;}

::-webkit-input-placeholder{color:#0383E5;}
:-moz-placeholder{color:#0383E5;}
::-moz-placeholder{color:#0383E5;}
::-ms-input-placeholder{color:#0383E5;}

#label,#box,#box>input,#help,#help>p,#box>select{
	background:#fff;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-khtml-border-radius:10px;
	margin-left:10px;
	margin-bottom:10px;
}
#wrapper{
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-khtml-border-radius:10px;
}
#box>select.day,#box>select.month,#box>select.year{width:30%;}
#box>select.day{
	border-right:0;
	border-radius:10px 0px 0px 10px;
	-webkit-border-radius:10px 0px 0px 10px;
	-moz-border-radius:10px 0px 0px 10px;
	-ms-border-radius:10px 0px 0px 10px;
	-o-border-radius:10px 0px 0px 10px;
	-khtml-border-radius:10px 0px 0px 10px;
	float:left;
}
#box>select.month{
	border-left:0;
	border-right:0;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
	-khtml-border-radius:0px;
	float:left;
	margin-left:0;
}
#box>select.year{
	border-left:0;
	border-radius:0px 10px 10px 0px;
	-webkit-border-radius:0px 10px 10px 0px;
	-moz-border-radius:0px 10px 10px 0px;
	-ms-border-radius:0px 10px 10px 0px;
	-o-border-radius:0px 10px 10px 0px;
	-khtml-border-radius:0px 10px 10px 0px;
	float:left;
	margin-left:0;
}
#labelblank{background:none;width:10%;height:50px;float:left;}
#submit{width:50%;margin:0 auto;background:#000;height:30px;}
input[type="submit"]{
	width:100px;
	color:#fff;
	text-transform:uppercase;
	background:#008000;
	border:0;
	margin-top:5px;
	margin-left:40%;
	height:40px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	-khtml-border-radius:2px;
	text-shadow:2px 2px #000;
	font-size:1.5em;
	cursor:pointer;
}
input[type="submit"]:active,input[type="submit"]:hover{
	width:100px;
	color:#fff;
	text-transform:uppercase;
	background:#008000;
	border:0;
	margin-top:5px;
	margin-left:40%;
	height:40px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-khtml-border-radius:10px;
	cursor:pointer;
	border:2px solid #000;
}
h1.information{display:none;}
@media (max-width:950px){
	#label{display:none;}
	#box{width:80%;}
}

@media (max-width:700px){
	#label,#box,#help,#labelblank,#submit{display:none;}
	h1.information{display:block;}
}


























