body{
	background-image: url("http://www.pasedfoundation.org/modules/toc/uploads/images/topics/tid326_appacademyblackgrey_small_cd9a1f78_d833_d36f_u1.jpg")
}

p{
	color: red;
}

Add a comment to this line
span{
font-size: 100px;
}
